@import '../../app/default.scss';

#operate {
    dl {
        dd {
            line-height: 50px;
            background: #fff;
            text-indent: 15px;
            display: flex;
            @include border_s(0, 0, 1px);
            white-space: nowrap;
            font-size: 15px;

            label {
                flex-basis: 125px;
                color: $color_gray;
            }

            span {
                text-indent: 0;
            }

            input {
                flex: 1;
                border: 0;
                height: 48px;
                position: relative;
                font-size: 15px;
                background: #fff;
            }

            textarea {
                position: relative;
                resize: none;
                width: 100%;
                border: 0;
                font-size: 15px;
                padding: 15px;
            }
        }
    }

    #moren {
        line-height: 50px;
        background: #fff;
        text-indent: 15px;
        margin: 10px 0;
        font-size: 15px;
        @include border_s(1px, 0, 1px);

        .switchery {
            position: absolute;
            right: 15px;
            top: 10px;
            width: 50px;
            height: 30px;
            border-radius: 20px;

            small {
                width: 30px;
                height: 30px;
            }
        }
    }

    #delete {
        line-height: 50px;
        background: #fff;
        text-indent: 15px;
        color: $color_red;
    }

    > a {
        display: block;
        color: #fff;
        background-color: $color_red;
        font-size: 18px;
        line-height: 45px;
        text-align: center;
        margin-top: 28px;
        border-radius: 4px;
        margin: 28px 10px 10px;
    }

    > a+span {
        text-align: center;
        font-size: 13px;
        color: $color_gray_dark;
        display: block;
    }
    // svg{
    //     top:auto;
    //     bottom: 0;
    // }
}

.delete {
    font-size: 15px;

    p {
        text-align: center;
        height: 105px;
        font-size: 18px;
        color: $color_gray_dark;
        display: flex;
        align-items: center;
        padding: 0 15px;
        text-align: left;

        &.center {
            display: flex;
            justify-content: center;
        }
    }

    dl {
        display: flex;
        height: 45px;
        @include border_s(1px);

        dd {
            flex: 1;
            justify-content: center;
            height: 100%;
            align-items: center;
            display: flex;
            position: relative;

            &:first-child {
                @include border_s(0, 1px);
            }
        }
    }
}

#err {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 2;

    a {
        background: rgba(0, 0, 0, .5);
        color: #fff;
        height: 35px;
        line-height: 35px;
        font-size: 15px;
        padding: 0 20px;
        border-radius: 8px;
    }

    &.none {
        display: none;
    }
}
@supports(font-size: 1vw) {
    #operate {
        dl {
            dd {
                line-height: pxToVw(100);
                text-indent: pxToVw(30);
                font-size: pxToVw(30);

                label {
                    flex-basis: pxToVw(250);
                }

                input {
                    height: pxToVw(96);
                    font-size: pxToVw(30);
                }

                textarea {
                    font-size: pxToVw(30);
                    padding: pxToVw(30);
                }
            }
        }

        #moren {
            line-height: pxToVw(100);
            text-indent: pxToVw(30);
            margin: pxToVw(20) 0;
            font-size: pxToVw(30);

            .switchery {
                right: pxToVw(30);
                top: pxToVw(20);
                width: pxToVw(100);
                height: pxToVw(60);
                border-radius: pxToVw(40);

                small {
                    width: pxToVw(60);
                    height: pxToVw(60);
                }
            }
        }

        #delete {
            line-height: pxToVw(100);
            text-indent: pxToVw(30);
            font-size: pxToVw(30);
        }

        > a {
            font-size: pxToVw(36);
            line-height: pxToVw(90);
            margin-top: pxToVw(56);
            border-radius: pxToVw(8);
            margin: pxToVw(56) pxToVw(20) pxToVw(20);
        }

        > a+span {
            font-size: pxToVw(26);
        }
    }

    .delete {
        p {
            height: pxToVw(210);
            font-size: pxToVw(36);
            padding: 0 pxToVw(30);
        }

        dl {
            height: pxToVw(90);
        }
    }

    #err {
        a {
            height: pxToVw(70);
            line-height: pxToVw(70);
            font-size: pxToVw(30);
            padding: 0 pxToVw(40);
            border-radius: pxToVw(16);
        }
    }
}
