@import '../../app/default.scss';
.cityTitle {
    line-height: 50px;
    text-indent: 35px;
    top: 0;
    width: 100%;
    background: #fff;
    @include border_s(0, 0, 1px);
    position: absolute;
    z-index: 99;
    display: flex;
    font-size: 15px;
    height: 50px;
    label {
        white-space: nowrap;
        display: flex;
        align-items: center;
    }
    span {
        text-indent: 0;
        flex: 1;
        text-align: right;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-indent: 10px;
    }
    svg {
        left: 15px;
        transform: none !important;
    }
}

.bankList {
    width: 100%;
    line-height: 50px;
    font-size: 15px;
    color: $color_gray_dark;
    border-bottom: $border;
    background-color: #fff;
    position: relative;
    top: 50px;
    overflow: scroll;
    height: 100%;
    bottom: 0;
    dt {
        text-indent: 35px;
        top: 0;
        width: 100%;
        background: #fff;
        @include border_s(0, 0, 1px);
        position: fixed;
        z-index: 2;
        display: flex;
        label {
            white-space: nowrap;
            display: flex;
            align-items: center;
        }
        span {
            text-indent: 0;
            flex: 1;
            text-align: right;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-indent: 10px;
        }
        svg {
            left: 15px;
            transform: none;
        }
    }
    dd {
        display: flex;
        align-items: center;
        height: 49px;
        @include border_s(1px);
    }
}

.citylist {
    dt span,
    >span {
        font-size: 15px;
        color: $color_gray_white;
        float: right;
        padding-right: 18px;
    }
    dd {
        padding-left: 15px;
        height: 49px;
    }
}

@supports(font-size: 1vw) {
    .cityTitle {
        line-height: pxToVw(100);
        text-indent: pxToVw(70);
        font-size: pxToVw(30);
        height: pxToVw(100);
        span {
            text-indent: pxToVw(20);
        }
        svg {
            left: pxToVw(30);
        }
    }
    .bankList {
        line-height: pxToVw(100);
        font-size: pxToVw(30);
        top: pxToVw(100);
        dt {
            text-indent: pxToVw(70);
            span {
                text-indent: pxToVw(20);
            }
            svg {
                left: pxToVw(30);
            }
        }
        dd {
            height: pxToVw(98);
        }
    }
    .citylist {
        dt span,
        >span {
            font-size: pxToVw(30);
            padding-right: pxToVw(36);
        }
        dd {
            padding-left: pxToVw(30);
            height: pxToVw(98);
        }
    }
}
