@import '../../app/default.scss';
#list {
    background: $color_bg;
    >a {
        position: fixed;
        bottom: 15px;
        color: #fff;
        background: $color_red;
        display: block;
        font-size: 18px;
        line-height: 45px;
        text-align: center;
        width: 96%;
        border-radius: 4px;
        margin-left: 2%;
    }
}

@supports(font-size: 1vw) {
    #list {
        >a {
            bottom: pxToVw(30);
            font-size: pxToVw(36);
            line-height: pxToVw(90);
            border-radius: pxToVw(8);
        }
    }
}
