@import '../../app/default.scss';

.select_address {
    padding: 10px 0 40px;
    font-size: 15px;

    dl {
        background: #fff;
        padding: 10px 15px;
        color: $color_gray_dark;
        @include border_s(1px, 0, 1px);

        dd {
            width: 50%;
            float: left;

            &.tel {
                text-align: right;
                position: relative;
                right: 10px;
            }
        }

        dt {
            clear: both;
            padding-top: 15px;

            i {
                color: $color_red;
            }
        }

        &:active {
            background: #f3f3f3;
        }
    }

    > :not(:last-child) {
        margin-bottom: 10px;
    }

    #none {
        font-size: 15px;
        line-height: 5;
        color: $color_gray_dark;
        display: flex;
        justify-content: center;
    }
}
@supports(font-size: 1vw) {
    .select_address {
        padding: pxToVw(20) 0 pxToVw(80);
        font-size: pxToVw(30);

        dl {
            padding: pxToVw(20) pxToVw(30);

            dd {
                &.tel {
                    right: pxToVw(20);
                }
            }

            dt {
                padding-top: pxToVw(30);
            }
        }

        > :not(:last-child) {
            margin-bottom: pxToVw(20);
        }

        #none {
            font-size: pxToVw(30);
        }
    }
}
