@charset "UTF-8";
@import './default.scss';

body {
    margin: 0;
    font-family: "Andale Mono", "Microsoft YaHei";
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.number {
    font-family: "Microsoft YaHei";
}

.body {
    background: $color_bg;
    margin-top: 45px;
}

dl,
p,
ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    list-style: none;
}

a {
    cursor: none;
    text-decoration: none;
    outline: 0;
}

dd {
    -webkit-margin-start: 0;
}

input {
    outline: 0;
    padding: 0;
}

textarea {
    outline: 0;
}

em,
i {
    font-style: normal;
}

.ReactModalPortal {
    > div {
        background-color: rgba(0, 0, 0, 0.6) !important;
        transform: scale(0);

        &.ReactModal__Overlay--after-open {
            z-index: 9999;
            transform: scale(1);
            transition: all 150ms ease-out;
        }

        &.ReactModal__Overlay--before-close {
            opacity: 0;
            transition: opacity 150ms ease-in;
        }

        > div {
            width: 70%;
            height: 150px;
            margin: auto;
            padding: 0 !important;
        }
    }
}

.rightSvg svg {
    transform: rotate(180deg);
    width: 15px;
    position: absolute;
    right: 10px;
    height: 100%;
    top: 0;
}

.red {
    color: $color_red;
}

#notitle #from_show {
    display: block !important;
}

#from_show {
    display: none !important;
}

.weui-mask {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.weui-dialog {
    position: fixed;
    z-index: 5000;
    width: 80%;
    max-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}

.weui-dialog__bd {
    padding: 0 1.6em 0.8em;
    min-height: 40px;
    font-size: 15px;
    line-height: 1.3;
    word-wrap: break-word;
    word-break: break-all;
    color: #999999;
}

.weui-dialog__bd:first-child {
    padding: 2.7em 20px 1.7em;
    color: #353535;
}

.weui-dialog__ft {
    position: relative;
    line-height: 48px;
    font-size: 18px;
    display: flex;

    :after {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 1px;
        border-top: 1px solid #D5D5D6;
        color: #D5D5D6;
        transform-origin: 0 0;
        transform: scaleY(0.5);
    }
}

.weui-dialog__btn {
    display: block;
    flex: 1;
    color: #3CC51F;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
}

.weui-dialog__btn_primary {
    color: #0BB20C;
}

#showMyTip {
    opacity: 1;
    z-index: 1000;
    animation: op 300ms;
}
@keyframes op {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@supports(font-size:1vw) {
    .body {
        margin-top: pxToVw(90);
    }

    .ReactModalPortal {
        > div {
            > div {
                height: pxToVw(300);
            }
        }
    }

    .rightSvg svg {
        width: pxToVw(30);
        right: pxToVw(20);
    }

    .weui-dialog {
        max-width: pxToVw(600);
        border-radius: pxToVw(6);
    }

    .weui-dialog__bd {
        padding: 0 1.6em 0.8em;
        min-height: pxToVw(80);
        font-size: pxToVw(30);
    }

    .weui-dialog__bd:first-child {
        padding: 2.7em 20px 1.7em;
    }

    .weui-dialog__ft {
        line-height: pxToVw(96);
        font-size: pxToVw(36);
    }
}
